# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
.tfstate
.tfstate.*

# Local overrides
*.tfvars
!dev.tfvars
!prod.tfvars
!*.tfvars.example

# Environment variables
.env
.env.local

# IDE
.idea/
*.swp
*.swo
*~
.vscode/

# OS
.DS_Store
Thumbs.db

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control
!example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*.tfplan

